@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  transition-property: background-image, background-color;
  transition-delay: 1000000s;
  transition-timing-function: ease;
  padding-left:16px;
}

.trans-w-100 {
  background-color: rgb( 255 255 255/0.1);
}
.trans-w-200 {
  background-color: rgb( 255 255 255/0.2);
}
.trans-w-300 {
  background-color: rgb( 255 255 255/0.3);
}
.trans-w-400 {
  background-color: rgb( 255 255 255/0.4);
}
.trans-w-500 {
  background-color: rgb( 255 255 255/0.5);
}
.trans-w-600 {
  background-color: rgb( 255 255 255/0.6);
}
.trans-w-700 {
  background-color: rgb( 255 255 255/0.7);
}
.trans-w-800 {
  background-color: rgb( 255 255 255/0.8);
}
.trans-w-900 {
  background-color: rgb( 255 255 255/0.9);
}

html,body {
  overflow-x:hidden ;
}
/* side menu */
.shiftOff {
  transform:translate(50%, -50px) scale(.7,.7) rotate(-10deg);
  /* height:100vh; */
  position: fixed;
}

.drop-bg {
  box-shadow: -50px 50px 0 0px rgb( 255 255 255/0.1),  -100px 100px 0 0px rgb( 255 255 255/0.04);
}
.slide-in {
  transform: translateX(-100px);
  animation: slide-in 200ms forwards ease-out;
}
@keyframes slide-in {
  to {
    transform: translateX(0);
  }
}

.hideScrollbar::-webkit-scrollbar {
  appearance: none;
}

.showFilter {
  transform: translateY(0);
}

.hideFilter {
  transform: translateY(100%);
}

.overlay {
  background-color: rgba( 0 0 0 /0.4);
}
.slideUp {
  transform: translateY(50%);
  animation: slideUp 200ms ease-out forwards;
}
@keyframes slideUp {
  to {
    transform: translateY(0);
  }
}